
h1{
    color:white;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    
}
.completed{
    color:black;
    text-decoration: line-through;
}
button{
    margin: 5px;
}
#viewToDo{
    text-align:left;
}
tr:nth-child(even){
    background-color: salmon;
    background-image: linear-gradient(to left,powderblue , green);
}
input{
    margin: 5px;
}
table{
    margin-top: 30px;
    width: 100%;
}
.cb{
    text-align: center;
}
body{
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right,powderblue , green);
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
  #createBtn{
    color: white;
    /* color:white
     */
    background-image: linear-gradient(to left,powderblue , green);
  }
  label{
    color: white;
  }